<template>
  <el-scrollbar max-height="800px" style="overflow-y: hidden">
    <el-main style="width:100%; height:70vh;position:relative">
      <el-row v-if="comRascunho">
        <com-rascunhos></com-rascunhos>
      </el-row>
      <el-row class="notFound" v-else>
        <not-found></not-found>
      </el-row>
    </el-main>
  </el-scrollbar>
</template>

<script>
import comRascunhos from '@/components/formRascunhos.vue'
import notFound from '@/components/rascNotFound.vue'

const mockdata = require("../data/mock_data.json");
const rascunhos = mockdata.filter((value) => {
  return value.str_publication_type.includes(null);

});


console.log(rascunhos);
export default {
  data() {
    return {
      loading: true,
      jsonData: mockdata,
      comRascunho: false,
    };
  },
  components:{
    comRascunhos,
    notFound
  },
  methods: {

  },
  mounted() {
    this.loading = true;
    setTimeout(() => (this.loading = false), 2000);
  },
};
</script>

<style>
</style>