<template>
    <el-dialog
            title="Criação de formulário"
            v-model="dialogFormVisible"
            :before-close="handleClose"
          >
            <el-form :model="form">
              <el-form-item label="ID" :label-width="formLabelWidth">
                <el-input
                  v-model="form.id"
                  autocomplete="off"
                  placeholder="Digite o ID do formulário"
                ></el-input>
              </el-form-item>
              <el-form-item label="Título" :label-width="formLabelWidth">
                <el-input
                  v-model="form.titulo"
                  autocomplete="off"
                  placeholder="Digite o título do formulário"
                ></el-input>
              </el-form-item>
              <el-form-item label="Descrição" :label-width="formLabelWidth">
                <el-input
                  v-model="form.descricao"
                  type="textarea"
                  autocomplete="off"
                  placeholder="Digite a descrição do formulário"
                ></el-input>
              </el-form-item>
              <el-form-item label="Acessos" :label-width="formLabelWidth">
                <el-row>
                  <el-col :xs="24" :sm="24" :md="24" :lg="12" :xl="8"
                    ><div class="grid-content bg-purple">
                      <el-select
                        v-model="form.acess"
                        placeholder="Selecione o nível de acesso"
                      >
                        <el-option
                          label="Específico"
                          value="specific"
                        ></el-option>
                        <el-option label="Publico" value="public"></el-option>
                        <el-option
                          label="Restrito"
                          value="restrict "
                        ></el-option>
                      </el-select></div
                  ></el-col>
                  <el-col :xs="24" :sm="24" :md="24" :lg="12" :xl="8"
                    ><div class="grid-content bg-purple-light">
                      <el-date-picker
                        v-model="datePicker1"
                        type="date"
                        placeholder="Criado em"
                      >
                      </el-date-picker></div
                  ></el-col>
                  <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="8"
                    ><div class="grid-content bg-purple">
                      <el-date-picker
                        v-model="datePicker2"
                        type="date"
                        placeholder="Publicado em"
                      >
                      </el-date-picker></div
                  ></el-col>
                </el-row>
              </el-form-item>
              <el-form-item label="Marcadores" :label-width="formLabelWidth">
                <el-row>
                  <el-col :xs="24" :sm="24" :md="24" :lg="8" :xl="8"
                    ><div class="grid-content bg-purple">
                      <el-tag
                        :key="tag"
                        v-for="tag in dynamicTags"
                        closable
                        :disable-transitions="false"
                        @close="handleCloseTag(tag)"
                      >
                        {{ tag }}
                      </el-tag>
                      <el-input
                        class="input-new-tag"
                        v-if="inputVisible"
                        v-model="inputValue"
                        ref="saveTagInput"
                        size="mini"
                        @keyup.enter="handleInputConfirm"
                        @blur="handleInputConfirm"
                      >
                      </el-input>
                      <el-button
                        v-else
                        class="button-new-tag"
                        size="small"
                        @click="showInput"
                        >+ New Tag</el-button
                      >
                    </div></el-col
                  >
                  <el-col :xs="24" :sm="24" :md="24" :lg="8" :xl="8"
                    ><div class="grid-content bg-purple-light">
                      <el-date-picker
                        v-model="vigenciaStart"
                        type="date"
                        placeholder="Data de inicio"
                      >
                      </el-date-picker></div
                  ></el-col>
                  <el-col :xs="24" :sm="24" :md="24" :lg="8" :xl="8"
                    ><div class="grid-content bg-purple-light">
                      <el-date-picker
                        v-model="vigenciaEnd"
                        type="date"
                        placeholder="Data de fim"
                      >
                      </el-date-picker></div
                  ></el-col>
                </el-row>
              </el-form-item>
            </el-form>
            <template #footer>
              <span class="dialog-footer">
                <el-button @click="dialogFormVisible = false"
                  >Cancelar</el-button
                >
                <el-button type="primary" @click="dialogFormVisible = false"
                  >Salvar formulário</el-button
                >
              </span>
            </template>
    </el-dialog>
</template>

<script>
import creatForm from '@/components/createForm.vue'
export default {
  data(){
    return{
      dialogFormVisible: false,
        form: {
            id: "",
            titulo: "",
            descricao: "",
            acess: "",
            type: [],
        },
        vigenciaStart: "",
        vigenciaEnd: "",
        dynamicTags: [],
        inputVisible: false,
        inputValue: "",
        datePicker1: "",
        datePicker2: "",
        formLabelWidth: "160px",
        loading: true,
        currentDate: dayjs().format("YYYY-MM-DD"),
        lists: [],
    }
  },
  components:{
    creatForm
  },
  methods: {
      sucessSave() {
      this.$message({
        message: "Seu formulário foi salvo com sucesso!",
        type: "success",
      });
      },
    handleClose(done) {
      this.$confirm(
        "Você tem certeza que deseja fechar a criação de formulário??"
      )
        .then((_) => {
          done();
          this.dialogVisible = false;
        })
        .catch((_) => {});
      },
    handleInputConfirm() {
      let inputValue = this.inputValue;
      if (inputValue) {
        this.dynamicTags.push(inputValue);
      }
      this.inputVisible = false;
      this.inputValue = "";
    },
    handleCloseTag(tag) {
      this.dynamicTags.splice(this.dynamicTags.indexOf(tag), 1);
    },
    }
}
</script>
