<template>
    <el-skeleton style="width: 240px" :loading="loading" animated :count="2">
              <!-- skeleton formulario  -->
              <template #template>
                <el-card>
                  <template #header>
                    <el-skeleton-item variant="h3" style="width: 50%" />
                  </template>
                </el-card>
                <div style="padding: 14px">
                  <div style="display: flex;align-items: center;justify-items: space-between;margin-top: 16px;height: 16px;">
                    <el-skeleton-item variant="text" style="margin-right: 16px"/>
                    <el-skeleton-item variant="text" style="width: 30%" />
                  </div>
                </div>
              </template>
              <!-- template itens real -->
              <template #default>
                <el-row :gutter="30">
                  <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
                      <el-card shadow="hover" class="box-card" style="">
                      <template #header>
                        <el-row>
                            <el-col :xs="24" :sm="24" :md="24" :lg="12" :xl="12">
                                <div class="grid-content bg-purple textPadrao">
                                ID:
                                {{ item.id }}
                                </div>
                            </el-col>
                            </el-row>
                      </template>
                      <!-- Titulo -->
                      <el-row>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <div class="grid-content bg-purple cardTitle">
                        {{ item.str_name }}
                        </div>
                        </el-col>
                    </el-row>
                      <!-- descrição -->
                      <el-row>
                          <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <div class="grid-content bg-purple cardDescription">
                            {{ item.str_description }}
                          </div></el-col>
                          </el-row>
                      <!-- criado e publicado -->
                      <el-row>
                          <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                              <div class="grid-content bg-purple cardCreated">
                            <el-row>
                              <el-col :span="8">
                                <div class="grid-content bg-purp textPadrao">
                                    Criado
                                    <label class="textPadraoBold">
                                        {{item.ts_created_at}}
                                    </label>
                                </div>
                              </el-col>
                              <el-col :span="16">
                                  <div class="grid-content bg-purp textPadrao">
                                  Publicado
                                  <label class="textPadraoBold">
                                      {{item.ts_published_at}}
                                </label>
                                </div>
                                </el-col>
                                </el-row>
                            </div>
                          </el-col>
                    </el-row>
                      <!-- acesso vigencia e respostas -->
                      <el-row>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <div class="grid-content bg-purple cardCreated">
                            <el-row>
                              <el-col :span="6" class="textPadrao">
                                  Acesso
                                <p class="textPadraoHigh">
                                  {{ item.str_publication_type }}
                                </p>
                              </el-col>
                              <el-col :span="11" class="textPadrao">Vigência
                                <p class="textPadraoHigh">
                                  {{ item.ts_publication_start}} -
                                  {{ item.ts_publication_end }}
                                </p>
                            </el-col>
                              <el-col :span="7" class="textPadrao">
                                  N° de respostas
                                <p class="textPadraoHigh">
                                  {{ item.int_total_answers }}
                                </p>
                            </el-col>
                            </el-row>
                          </div>
                        </el-col>
                      </el-row>
                      <!-- Marcadores  -->
                      <el-row>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <div class="grid-content bg-purple cardCreated">
                            <el-row>
                              <el-col :span="4" class="textPadrao">Marcadores:</el-col>
                              <el-col :span="20">
                                <el-tag class="tags"> {{jsonData.lst_tags ? jsonData.lst_tags: "Não há marcadores"}}</el-tag>
                              </el-col>
                            </el-row>
                          </div>
                        </el-col>
                      </el-row>
                    </el-card></el-col>
                </el-row>
              </template>
     </el-skeleton>
</template>

<script>
import * as moment from 'moment'
const mockdata = require("@/data/mock_data.json");
export default{
data() {
    return {
      jsonData: mockdata,
    }
}}

</script>

<style scoped>
.textPadrao {
  font-family: Arial;
  font-weight: normal;
  font-size: 14px;
  color: #798191;
}
.textPadraoBold {
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
  color: #455066;
  margin-left: 0px;
}
.textPadraoHigh {
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;
  margin-top: 5px;
  color: #455066;
  margin-left: 0px;
}
.tags {
  margin-top: -15px;
  margin-right: 10px;
}
.box-card {
  /*width: 40vw;
  height: 70vh;*/
  /* radius: 4px; */
  margin-bottom: 20px;
  left: 112px;
  top: 216px;
  background: #ffffff;
  border: 1px solid #dcdfe5;
  box-sizing: border-box;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.cardTitle {
  text-align: justify;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #455066;
}

.cardDescription {
  margin-top: 15px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  text-align: justify;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 24px;
  color: #798191;
}

.cardCreated {
  margin-top: 25px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
.cardLabel2 {
  position: absolute;
  width: 42px;
  height: 16px;
  top: 20vh;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

</style>



