<template>
    <template v-for="item in rascunhos" :key="item.id">
          <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
            <el-skeleton
              style="width: 240px"
              :loading="loading"
              animated
              :count="2"
            >
              <!-- skeleton formulario  -->
              <template #template>
                <el-card>
                  <template #header>
                    <el-skeleton-item variant="h3" style="width: 50%" />
                  </template>
                </el-card>
                <div style="padding: 14px">
                  <div
                    style="
                      display: flex;
                      align-items: center;
                      justify-items: space-between;
                      margin-top: 16px;
                      height: 16px;
                    "
                  >
                    <el-skeleton-item
                      variant="text"
                      style="margin-right: 16px"
                    />
                    <el-skeleton-item variant="text" style="width: 30%" />
                  </div>
                </div>
              </template>
              <!-- template itens real -->
              <el-row :gutter="30">
                <el-col :xs="24" :sm="24" :md="24" :lg="12" :xl="12"
                  ><el-card
                    shadow="hover"
                    class="box-card"
                    style=""
                    v-for="i in 1"
                    :key="i"
                  >
                    <template #header>
                      <el-row>
                        <el-col :span="22"
                          ><div
                            class="grid-content bg-purple"
                            style="margin-top: 10px"
                          >
                            ID: 6312f22c-3e2e-468c-af57-a40be28059bc
                          </div></el-col
                        >
                        <el-col :span="2"
                          ><div class="grid-content bg-purple-light">
                            <el-button
                              type="danger"
                              icon="el-icon-delete"
                              circle
                            ></el-button></div
                        ></el-col>
                      </el-row>
                    </template>
                    <!-- Titulo -->
                    <el-row
                      ><el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24"
                        ><div class="grid-content bg-purple cardTitle">
                          ut blandit non interdum in ante vestibulum ante ipsum
                          primis
                        </div></el-col
                      ></el-row
                    >
                    <!-- descrição -->
                    <el-row
                      ><el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24"
                        ><div class="grid-content bg-purple cardDescription">
                          In sagittis dui vel nisl. Duis ac nibh. Fusce lacus
                          purus, aliquet at, feugiat non, pretium quis,
                          lectus.\n\nSuspendisse potenti. In eleifend quam a
                          odio. In hac habitasse platea dictumst.\n\nMaecenas ut
                          massa quis augue luctus tincidunt. Nulla mollis
                          molestie lorem. Quisque ut erat.
                        </div></el-col
                      ></el-row
                    >
                    <!-- criado e publicado -->
                    <el-row
                      ><el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24"
                        ><div class="grid-content bg-purple cardCreated">
                          <el-row>
                            <el-col :span="8">
                              <div class="grid-content bg-purp textPadrao">
                                Criado
                                <label class="textPadraoBold">01/02/30</label>
                              </div>
                            </el-col>
                          </el-row>
                        </div></el-col
                      ></el-row
                    >
                    <!-- Marcadores  -->
                    <el-row>
                      <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24"
                        ><div class="grid-content bg-purple cardCreated">
                          <el-row>
                            <el-col :span="4" class="textPadrao"
                              >Marcadores</el-col
                            >
                            <el-col :span="20">
                              <el-tag class="tags">Tag 1</el-tag>
                              <el-tag class="tags">Tag 2</el-tag>
                              <el-tag class="tags">Tag 3</el-tag></el-col
                            >
                          </el-row>
                        </div>
                      </el-col>
                    </el-row>
                    <!-- Footer  -->
                    <el-row style="margin-top: 40px"
                      ><el-col :xs="6" :sm="8" :md="8" :lg="8" :xl="8"
                        ><div class="grid-content bg-purple">
                          <el-row>
                            <el-button
                              class="el-icon-share"
                              circle
                              style="margin-left: 10px"
                            ></el-button>
                            <el-button
                              icon="el-icon-copy-document"
                              circle
                            ></el-button>
                          </el-row></div
                      ></el-col>
                      <el-col :xs="4" :sm="8" :md="9" :lg="4" :xl="12"
                        ><div class="grid-content bg-purple-light"></div
                      ></el-col>
                      <el-col :xs="10" :sm="8" :md="7" :lg="12" :xl="4"
                        ><div class="grid-content bg-purple">
                          <el-row>
                            <el-button style="margin-left: 10px"
                              >Publicar</el-button
                            >
                            <el-button type="primary">Detalhes</el-button>
                          </el-row>
                        </div></el-col
                      >
                    </el-row>
                  </el-card></el-col
                >

                <!-- FORMULARIOS DIREITA  -->
                <el-col :xs="24" :sm="24" :md="24" :lg="12" :xl="12"
                  ><el-card
                    shadow="hover"
                    class="box-card"
                    style=""
                    v-for="i in 1"
                    :key="i"
                  >
                    <template #header>
                      <el-row>
                        <el-col :span="22"
                          ><div
                            class="grid-content bg-purple"
                            style="margin-top: 10px"
                          >
                            ID: 6312f22c-3e2e-468c-af57-a40be28059bc
                          </div></el-col
                        >
                        <el-col :span="2"
                          ><div class="grid-content bg-purple-light">
                            <el-button
                              type="danger"
                              icon="el-icon-delete"
                              circle
                            ></el-button></div
                        ></el-col>
                      </el-row>
                    </template>
                    <!-- Titulo -->
                    <el-row
                      ><el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24"
                        ><div class="grid-content bg-purple cardTitle">
                          ut blandit non interdum in ante vestibulum ante ipsum
                          primis
                        </div></el-col
                      ></el-row
                    >
                    <!-- descrição -->
                    <el-row
                      ><el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24"
                        ><div class="grid-content bg-purple cardDescription">
                          In sagittis dui vel nisl. Duis ac nibh. Fusce lacus
                          purus, aliquet at, feugiat non, pretium quis,
                          lectus.\n\nSuspendisse potenti. In eleifend quam a
                          odio. In hac habitasse platea dictumst.\n\nMaecenas ut
                          massa quis augue luctus tincidunt. Nulla mollis
                          molestie lorem. Quisque ut erat.
                        </div></el-col
                      ></el-row
                    >
                    <!-- criado e publicado -->
                    <el-row
                      ><el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24"
                        ><div class="grid-content bg-purple cardCreated">
                          <el-row>
                            <el-col :span="8">
                              <div class="grid-content bg-purp textPadrao">
                                Criado
                                <label class="textPadraoBold">01/02/30</label>
                              </div>
                            </el-col>
                          </el-row>
                        </div></el-col
                      ></el-row
                    >
                    <!-- Marcadores  -->
                    <el-row>
                      <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24"
                        ><div class="grid-content bg-purple cardCreated">
                          <el-row>
                            <el-col :span="4" class="textPadrao"
                              >Marcadores</el-col
                            >
                            <el-col :span="20">
                              <el-tag class="tags">Tag 1</el-tag>
                              <el-tag class="tags">Tag 2</el-tag>
                              <el-tag class="tags">Tag 3</el-tag></el-col
                            >
                          </el-row>
                        </div>
                      </el-col>
                    </el-row>
                    <!-- Footer  -->
                    <el-row style="margin-top: 40px"
                      ><el-col :xs="6" :sm="8" :md="8" :lg="8" :xl="8"
                        ><div class="grid-content bg-purple">
                          <el-row>
                            <el-button
                              class="el-icon-share"
                              circle
                              style="margin-left: 10px"
                            ></el-button>
                            <el-button
                              icon="el-icon-copy-document"
                              circle
                            ></el-button>
                          </el-row></div
                      ></el-col>
                      <el-col :xs="4" :sm="8" :md="9" :lg="4" :xl="12"
                        ><div class="grid-content bg-purple-light"></div
                      ></el-col>
                      <el-col :xs="10" :sm="8" :md="7" :lg="12" :xl="4"
                        ><div class="grid-content bg-purple">
                          <el-row>
                            <el-button style="margin-left: 10px"
                              >Publicar</el-button
                            >
                            <el-button type="primary">Detalhes</el-button>
                          </el-row>
                        </div></el-col
                      >
                    </el-row>
                  </el-card></el-col
                >
              </el-row>
            </el-skeleton>
          </el-col>
        </template>
</template>