<template>
    <el-header class="header">
        <el-menu default-active="2" mode="horizontal" select="handleSelect">
        <el-menu-item index="1">Disponíveis</el-menu-item>
        <el-menu-item index="2">Gestão</el-menu-item>

        <el-button class="btn" type="primary" @click="dialogFormVisible = true">Criar formulário</el-button>
        </el-menu>
        <el-dialog title="Criação de formulário" v-model="dialogFormVisible" :before-close="handleClose" width="90%">
            <el-form :model="form">
              <el-form-item label="ID" :label-width="formLabelWidth">
                <el-input v-model="form.id" autocomplete="off" placeholder="Digite o ID do formulário" ></el-input>
              </el-form-item>
              <el-form-item label="Título" :label-width="formLabelWidth">
                <el-input v-model="form.titulo" autocomplete="off" placeholder="Digite o título do formulário"></el-input>
              </el-form-item>
              <el-form-item label="Descrição" :label-width="formLabelWidth">
                <el-input v-model="form.descricao" type="textarea" autocomplete="off" placeholder="Digite a descrição do formulário"></el-input>
              </el-form-item>
              <el-form-item label="Acessos" :label-width="formLabelWidth">
                <el-row>
                    <el-col :xs="24" :sm="24" :md="24" :lg="8" :xl="8">
                      <div class="grid-content bg-purple">
                        <el-select v-model="form.acess" placeholder="Selecione o nível de acesso">
                            <el-option label="Específico" value="specific"></el-option>
                            <el-option label="Publico" value="public"></el-option>
                            <el-option label="Restrito" value="restrict "></el-option>
                        </el-select>
                      </div>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="24" :lg="8" :xl="8">
                        <div class="grid-content bg-purple-light">
                      <el-date-picker v-model="datePicker1" type="date" placeholder="Criado em">
                      </el-date-picker></div>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="24" :lg="8" :xl="8">
                      <div class="grid-content bg-purple">
                      <el-date-picker v-model="datePicker2" type="date" placeholder="Publicado em">
                      </el-date-picker>
                      </div>
                    </el-col>
                </el-row>
                </el-form-item>
                <el-form-item label="Marcadores" :label-width="formLabelWidth">
                <el-row>
                    <el-col :xs="24" :sm="24" :md="24" :lg="8" :xl="8">
                      <div class="grid-content bg-purple">
                        <el-tag :key="tag" v-for="tag in dynamicTags" losable :disable-transitions="false" @close="handleCloseTag(tag)">
                            {{ tag }}
                        </el-tag>
                        <el-input class="input-new-tag" v-if="inputVisible" v-model="inputValue" ref="saveTagInput" size="mini" @keyup.enter="handleInputConfirm" @blur="handleInputConfirm">
                        </el-input>
                        <el-button v-else class="button-new-tag" size="small" @click="showInput">+ New Tag</el-button>
                        </div>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="24" :lg="8" :xl="8">
                      <div class="grid-content bg-purple-light">
                      <el-date-picker v-model="vigenciaStart" type="date" placeholder="Data de inicio"></el-date-picker>
                      </div>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="24" :lg="8" :xl="8">
                      <div class="grid-content bg-purple-light">
                        <el-date-picker v-model="vigenciaEnd" type="date" placeholder="Data de fim"></el-date-picker>
                      </div>
                    </el-col>
                </el-row>
              </el-form-item>
            </el-form>
            <template #footer>
              <span class="dialog-footer">
                <el-button @click="dialogFormVisible = false">Cancelar</el-button>
                <el-button type="primary" @click="sucessSave(),closeForm()">Salvar formulário</el-button>
              </span>
            </template>
        </el-dialog>
    </el-header>
</template>

<script>
import createForm from '@/components/createForm.vue'
export default ({
    data(){
        return{
            dialogFormVisible: false,
        form: {
            id: "",
            titulo: "",
            descricao: "",
            acess: "",
            type: [],
        },
        vigenciaStart: "",
        vigenciaEnd: "",
        dynamicTags: [],
        inputVisible: false,
        inputValue: "",
        datePicker1: "",
        datePicker2: "",
        formLabelWidth: "90px",
        loading: true,
        currentDate: dayjs().format("YYYY-MM-DD"),
        lists: [],
        }
    },
    components:{
        createForm,
    },
    methods: {
      sucessSave() {
      this.$message({
        message: "Seu formulário foi salvo com sucesso!",
        type: "success",
      })
      },
      closeForm(){
          this.dialogFormVisible = false
      },
    handleClose(done) {
      this.$confirm(
        "Você tem certeza que deseja fechar a criação de formulário??"
      )
        .then((_) => {
          done();
          this.dialogVisible = false;
        })
        .catch((_) => {});
      },
    handleInputConfirm() {
      let inputValue = this.inputValue;
      if (inputValue) {
        this.dynamicTags.push(inputValue);
      }
      this.inputVisible = false;
      this.inputValue = "";
    },
    handleCloseTag(tag) {
      this.dynamicTags.splice(this.dynamicTags.indexOf(tag), 1);
    },
    }
})
</script>

<style scoped>
.header{
    width: 100vw;
    padding: 0;
    margin-left: 20px;
}
.btn{
    z-index: 1000;
    float: right;
    margin-right: 100px;
    margin-top: 10px;
}
</style>
