<template>
    <el-container>
    <el-menu default-active="1" background-color="#24314a" class="menu">
        <el-menu-item>
            <div class="dashboardLogo">
                <img src="@/assets/dashboardLogo.svg" alt="">
            </div>
            <div class="underline"></div>
        </el-menu-item>

      <el-menu-item style="margin-top:45px">
        <i class="el-icon-s-order"></i>
      </el-menu-item>
      <el-menu-item>
        <i class="el-icon-coin"></i>
      </el-menu-item>

    </el-menu>
  </el-container>
</template>

<style scoped>
.el-container{
    height: 100%;
    z-index: 100;
    overflow: hidden;
    position: fixed;
}
.dashboardLogo{
    justify-content: center;
    align-items: center;
    margin-left: -3px;
}
.underline{
    position: absolute;
    z-index: 100;
    width: 55px;
    left: 5px;
    right: 4px;
    top:57px;
    border: 1px solid #409EFF;
}
.poweredBy{
    margin-top: 100%;

}
.menu{
    justify-content: center;
    align-items: center;
}

</style>