<template>
    <el-row>
              <el-col :xs="4" :sm="5" :md="4" :lg="8" :xl="10"
                ><div class="grid-content bg-purple"></div
              ></el-col>
              <el-col :xs="20" :sm="10" :md="16" :lg="8" :xl="8"
                ><div class="grid-content bg-purple-light">
                  <el-pagination
                    background
                    layout="prev, pager, next"
                    :total="jsonData.length"
                    style="margin-bottom: 20px"
                  >
                  </el-pagination></div
              ></el-col>
              <el-col :xs="0" :sm="9" :md="4" :lg="8" :xl="6"
                ><div class="grid-content bg-purple"></div
              ></el-col>
            </el-row>
</template>

<script>
import mockdata from '@/data/mock_data.json'
export default {
    data() {
        return{
            jsonData: mockdata,
        }
    },
}
</script>