<template>
    <el-col :xs="24" :sm="24" :md="24" :lg="12" :xl="12">
        <div class="grid-content bg-purple">
            <span class="ops">Ooops!</span>
            <p class="noForm">Nenhum formulário encontrado.</p>
            <p class="createNew"> Crie novos formulários. </p>
            <el-button class="btn" type="primary" @click="dialogFormVisible = true">Criar novo formulário</el-button>
        </div>
    </el-col>
    <el-col :xs="24" :sm="24" :md="24" :lg="12" :xl="12">
        <div class="grid-content bg-purple-light" style="margin-top:50px">
        <img src="@/assets/notFound.png" alt="">
        </div>
    </el-col>
</template>

<style scoped>
el-row{
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 20px;
    font-weight: bold;
    color: #455066;

}
.ops{
    display: flex;
    width: 281px;
    height: 92px;
    font-family: arial;
    font-weight: bold;
    font-size: 80px;
    margin-top: 130px;
    margin-left: 70px;
    font-size: 5rem;
    color: #455066;
}
.noForm{
display: flex;
font-weight: bold;
font-family: arial;
color: #455066;
margin-left: 75px;
font-size: 20px;
}
.createNew{
    font-family: arial;
    display: flex;
    color: #455066;
    margin-left: 75px;
    font-size: 16px;
}
.btn{
    display: flex;
    margin-left: 75px;
    margin-top: 40px;
    font-size: 16px;
}
</style>