<template>
    <el-header class="header">
        <el-row >
            <el-col :xs="8" :sm="8" :md="8" :lg="9" :xl="8">
                <el-select v-model="value" placeholder="Select" class="hmbMenu" style="font-family: Arial;font-weight: normal;font-size: 14px;color: #455066;margin-top: 10px">
                    <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
                <el-radio-group v-model="isCollapse" style="margin-top: 10px" class="menuBtn">
                    <router-link to="/">
                        <el-radio-button :label="true" @click="isCollapse = true">Publicados</el-radio-button>
                    </router-link>
                    <router-link to="/rascunhos">
                        <el-radio-button :label="false" @click="isCollapse = false">Rascunhos</el-radio-button>
                    </router-link>
                </el-radio-group>
            </el-col>
            <el-col :xs="12" :sm="14" :md="14" :lg="14" :xl="16">
                <el-row :gutter="10" style="margin-top: 10px">
                <el-col :span="22">
                    <div class="grid-content bg-purple">
                        <el-input placeholder="Busce por título, descrição e marcadores" prefix-icon="el-icon-search" style="z-index: 100" v-model="searchValue"> </el-input>
                    </div>
                </el-col>
                <el-col :span="2">
                    <div class="grid-content bg-purple-light">
                    <el-button style="z-index: 100"> Buscar </el-button>
                    </div>
                </el-col>
                </el-row>
            </el-col>
        </el-row>
    </el-header>
</template>

<style scoped>

.header{
    position: relative;
    background: #ebeff5;
    border-radius: 10px;
    margin-top: 20px;
}
</style>

<script>
import mockdata from '@/data/mock_data.json';

export default {
    data(){
        return{
            searchValue: "",
            jsonData: mockdata,
            isCollapse: true,
            options: [
                {
                value: "Publicados",
                label: "Publicados",
                },
                {
                value: "Rascunhos",
                label: "Rascunhos",
                },
            ],

        }

    }
}
</script>
