<template>
<el-container style="font-family: arial;overflow:hidden">
    <el-aside width="56px">
      <menu-Lateral></menu-Lateral>
    </el-aside>
    <el-container>
      <el-header style="padding: 0">
        <header-cont></header-cont>
      </el-header>
      <el-main style="background: #f7f9fc">
        <el-container>
          <el-header>
              <search-bar ></search-bar>
          </el-header>
          <el-main >
            <router-view />
          </el-main>
        </el-container>
      </el-main>

      <el-footer>
        <pagination-page></pagination-page>
      </el-footer>
    </el-container>
  </el-container>
</template>

<script>
import headerCont from '@/components/header.vue'
import searchBar from '@/components/searchAndPages.vue'
import createForm from '@/components/createForm.vue'
import paginationPage from '@/components/pagination.vue'
import menuLateral from '@/components/menuLateral.vue'

const mockdata = require("@/data/mock_data.json");

export default {
  data() {
    return {
      jsonData: mockdata,
      value: "",
    };
  },
  components: {
    headerCont,
    searchBar,
    createForm,
    paginationPage,
    menuLateral
  },
  methods: {

  },
};
</script>

<style>
.hmbMenu {
  display: none;
  margin-top: -2px;
}

body {
  margin: 0;
  padding: 0;
}
.glhf {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
@media screen and (max-width: 900px) {
  #menuDiv {
    display: none;
  }
  .menuLateral {
    display: none;
  }
  .hmbMenu {
    display: block;
    margin-top: 1px;
  }
  .menuBtn {
    display: none;
  }
}
</style>
